@{
    ViewData["Title"] = "Home Page";
}
@if (!string.IsNullOrEmpty(TempData["message"]?.ToString()))
{
    <div class="alert alert-danger" style="text-align:center">
        @TempData["message"]
    </div>
}
<div class="info">
    <h1 style="text-align:center">Обогрев помещений</h1>
    <b>Постановка задачи:</b>
    <p>Для обогрева производственных помещений используют несколько агрегатов, каждый из которых может 
        работать на любом из нескольких сортов топлива, имеющемся в количествах, указанных в таблице для 
        конкретного варианта. Заданы также потребность в топливе каждого из агрегатов и теплотворная способность 
        каждого сорта топлива при использовании его на различных агрегатах (количество тепловой энергии, выделяемой при сжигании 1 т топлива). </p>
    <p>
        Требуется найти такое распределение топлива между агрегатами, при котором
        получается максимальное количество теплоты от использования всего топлива.
    </p>
    <b>Целевая функция:</b>
    <img src="~/images/targetFunc.png"/><p></p>
    <b>Ограничения на потребления топлива каждым агрегатом:</b>
    <img src="~/images/limitT.png"/><p></p>
    <b>Ограничения имеющиеся в наличии топливные ресурсы каждого вида:</b>
    <img src="~/images/limitA.png" /><p></p>
    <b>Ограничение на X</b>
    <img src="~/images/limitX.png" /><p></p>
    
</div>